<!-- <app-header></app-header> -->

<div class="card" style="width: 18rem;">
  <img src="assets/images/burger.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ produits?.nom}}</h5>
    <div class="card-titlr">{{produits?.prix}}</div>

    <div class="d-flex justify-content-end">
      <a href="#" class="btn btn-danger">Ajouter</a>
    </div>
</div>
    <a class="btn btn-danger" routerLink="details">Détails</a>
  </div>
<!-- <app-footer></app-footer> -->
