


  <div class="card" style="width: 18rem;">
    <img src="assets/images/burger.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Burgers Poulets</h5>
      2500FCFA
      <p class="card-text"></p>
      <a href="#" class="card-button">Détails</a>
    </div>
  </div>



<div class="container d-flex" style="margin-top:50px;">
  <div class="card" style="width: 18rem;">
        <div class="card-sl">
            <div class="card-image">
              <!-- https://images.pexels.com/photos/1149831/pexels-photo-1149831.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 -->

                    <img src="assets/images/burger.png" class="card-img-top" alt="...">

            </div>

            <div class="card-heading">
              <h5 class="card-title">Burger Viande</h5>
                2500FCFA
            </div>
            <div class="card-text">

            </div>
            <a href="#" class="card-button " > Détails</a>
        </div>
    </div>
</div>
