

#filtreTop{
  margin-top: 2%;
}


.filtre
{
  display: flex;
  justify-content: flex-start;
  margin-left: 5%;
}


.header2{
  display: flex;
  justify-content: center;
  margin-top: 2%;
  }


select
{
  display: flex;
  justify-content: center;
  width: 30%;
}

.nav2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
  margin-left: 10%;
  width: 100%;
}

a{
  font-size: 1.5rem;
}

.shopping
{
  color: blue;
}

