<div class="principal">
  <div class=" contain  bg-dark typo-light text-center p-5 m-0">

    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="widget subscribe no-box">
          <h5 class="widget-title">Vous pouvez nous suivre, c’est par ici</h5>
              <a href="#"> <i class="fa fa-facebook " > </i> </a>
              <a href="#"> <i class="fa fa-twitter"> </i> </a>
              <a href="#"> <i class="fa fa-youtube"> </i> </a>
        </div>
    </div>
 
      <div class="widget no-box ">
           <div class="widget no-box">
            <h5 class="widget-title">Contact & assistance<span></span></h5>
                    <p class="contact"><i class="fa fa-phone "   > </i>+221 780131908</p>
                    <p class="contact"><i class="fa fa-envelope"  aria-hidden="true"> </i>samaburger@gmail.com</p>

            <div class="emailfield">
              <input type="text" name="email" value="Email">
              <input name="uri" type="hidden" value="arabiantheme">
              <input name="loc" type="hidden" value="en_US">
              <input class="submitbutton ripplelink" type="submit" value="Subscribe">
            </div>
        </div>
      </div>

    </div >
    <div class="footer copyright-text bg-dark typo-light">
      <p>Copyright Design Sherif Hamdy © 2019. All rights reserved.</p>


    </div>
    </div>






